<h2>Log in</h2>

<p>Welcome to my Storylines Application. I created this because I wanted to take
my experiences playing role playing games (table top, not computer based for
those of you who know the difference) and bring that style of collaboration
to writing stories.</p>

<p>You can create a Universe (or more than one!) all your own, and invite other
people to collaborate. Adding Characters, Events, and Locations, as well
as the Experiences the Characters have of those Events at those Locations.</p>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>

<% form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Username or Email Address" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Log in" %></p>
<% end %>
