<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- DW6 -->
<head>
<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>

<title><%= controller.controller_name.titleize %>: <%= controller.action_name %></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body bgcolor="#F4FFE4">
<% if flash[:notice] %>
      <div class="notice" style="background-color: #A4E7A0; border: 1px solid #26722D; margin: 1em;"><%= flash[:notice] %></div>
<% end %>
<% if logged_in? %>
     Welcome <%= current_user.username %>! Not you?
     <%= link_to "Log out", logout_path %>
   <% else %>
     <%= link_to "Sign up", signup_path %> or
     <%= link_to "log in", login_path %>.
<% end %>
<br />
<%unless controller.controller_name.titleize == "Universes"  %>
    <p>Go to:
    <%= link_to "Back to Universe selection", :controller => "universes" %> |
    <%= link_to "Characters", :controller => "characters" %> |
    <%= link_to "Events", :controller => "events" %> |
    <%= link_to "Locations", :controller => "locations" %> |
    <%= link_to "Users", :controller => "userlimits" %>
    </p>
<% end %>
<%= yield %>
<p>©2009 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a><br /><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Storylines</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://github.com/nextekcarl/storylines/tree/master" property="cc:attributionName" rel="cc:attributionURL">Carl Anderson</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Creative Commons Attribution-Noncommercial-Share Alike 3.0 United States License</a>.</p>
</body>
</html>
